.article{
    background-color: rgba( 215, 192, 188, .3);
    padding: 1rem;
    .section1{
        h2{
            margin: 3rem;
        }
        .articles-content{
            display: flex;
            flex-wrap: wrap;
            img{
                float: left;
                margin: 0 1rem;
            }
            .article{
                
                flex-basis: 100%;
                margin: 1rem;
                padding: 2rem;
               
                p{
                    margin: 1rem 0  ;
                }
                .button-container{
                    text-align: center;
                    padding: 1rem;
                    a{
                        padding: 1rem;
                        border-radius:10px;
                        color: white;
                        background-color: rgb(54, 118, 148);
                    }
                }
            }
        }
    }
}