*{
    box-sizing: border-box;
    list-style: none;
    color: black;
}
html{
    font-size: 62.5%;
    body{
        box-sizing: border-box;
        font-size: 1.6rem;
        padding: 0;
        margin: 0;
        background-image: url("https://www.largus.fr/images/images/peugeot-208-1902styp012.jpg");
        main{
            max-width: 80%;
            margin: auto;
        }
    }
}
.title{
    text-align: center;
}
h1{
    font-size: 6rem;
}
h2{
    font-size: 5rem;
}
h3{
    font-size: 4rem;
}
h4{
    font-size: 3rem;
}
h5{
    font-size: 2rem;
}