.user{
    ul{

        li{
            min-width: 400px;
            display: flex;
            justify-content: space-between;
            .icon{
                i{
                    color: rgb(153, 65, 65);
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}